<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RxSwiftSignUpTextCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A2EFB0541FBFF07F00934275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EFB0741FC01CE900934275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A2EFB0821FC01D0800934275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
